    <main>
        <!-- In case of error, you should display div with class "errorContainer" -->
        <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
    {{#if error}}
         <div>
            <div class="errorContainer">
                <p>{{error}}</p>
            </div>
        </div>
    {{/if}}

        <div class="register-box">
            <h1>Register</h1>
            <form  method="POST">
                <label>Username</label>
                <input type="text" name="username" value="{{userData.username}}" placeholder="Username..">
                <label>Email</label>
                <input type="text" name="email" value="{{userData.email}}" placeholder="Email..">
                <label>Password</label>
                <input type="password" name="password" placeholder="Password..">
                <label>Confirm Password</label>
                <input type="password" name="repeatPassword" placeholder="Confirm Password..">
                <input type="submit" value="Submit">
            </form>
            <p>Already have an account? <a href="/users/login">Login here</a></p>
        </div>
    </main>

    <footer>
        <p>&copy JS Back-End 2024</p>
    </footer>
</body>

</html>